@import "tailwindcss";

:root {
  --background: #dbd9d9;

  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dbd9d9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ContentRenderer.module.css */
.contentWrapper h1 {
  font-size: 40px;

  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.contentWrapper h2 {
  font-size: 40px;
  color: aqua;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.contentWrapper h3 {
  font-size: 20px;
    color: aqua;

  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.contentWrapper p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
  color: var(--foreground);
}

.contentWrapper ol,
.contentWrapper ul {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  color: var(--foreground);
}

.contentWrapper ol {
  list-style-type: decimal;
}

.contentWrapper ul {
  list-style-type: disc;
}

.contentWrapper li {
  margin-bottom: 0.5rem;
  line-height: 1.6rem;
}
